.quiz-results-question-container {
    margin-bottom: 16px;
    width: 100%;
    box-shadow: 0 1px 2px #3A4856, 0 1px 4px 0 #3A4856;
}

.quiz-results-question-title {
    font-size: 20px;
    padding-top: 8px;
    list-style-type: none;
    background: #3A4856;
    color: #fff;
    padding-left: 8px;
}

.quiz-results-answer {
    transition-duration: 0.1s;
    display: block;
    width: 100%;
    background-color: #fff;
    color: #495057;
    cursor: pointer;
    margin: auto;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #3A4856;
    user-select: none;
}

.active {
    background: #AEB5BE;
}

.valid {
    background-color: #9CE085;
}

.quiz-results-category-title {
    padding-bottom: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #3A4856;
}